* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.logo a {
    font-size: 1rem;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;   
}