* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;   
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

/* Tablet Media Query */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        display: grid;
        grid-template-columns: minmax(250px, 1fr) 3fr;
        gap: 1rem;
    }

    .main-content {
        margin-left: auto;
        margin-right: auto;
    }

    .main-content h1 {
        font-size: 2rem;
    }

    .logo {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 0;
    }

    .sidebar h2 {
        margin-left: 0.5rem;
        font-size: 2rem;
    }

    .sidebar-links {
        margin-top: 1.5rem;
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 2rem 0.5rem;
    }

}

/* Desktop Media Query */
@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 250px 4fr;
        gap: 2rem;
    }

    .main-content {
        max-width: 1000px;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}