* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #333;
}