* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;   
}

/* Tablet Media Query */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 0;
    }
}